{% comment %}
  Reverse Image Search Admin Page
  This page provides an interface for finding original source images
{% endcomment %}

<div class="page-width">
  {% include 'reverse-search-admin' %}
</div>
