{% comment %}
  Automated Reverse Image Search Admin Page
  This page provides an automated interface for finding original source images for all products
{% endcomment %}

<div class="page-width">
  {% include 'auto-reverse-search-admin' %}
</div>
